In [31]:
car = {
    "brand name": "Toyota",
    "model": "vios",
    "year": 2010,
    "cc": 1000.50,
}

In [13]:
print(car["brand name"])

Toyota

In [32]:
car["wheel"] = 4
car.update({"wheel": 4})

print(car)

{'brand name': 'Toyota', 'model': 'vios', 'year': 2010, 'cc': 1000.5, 'wheel': 4}

In [27]:
# car.pop(12)
# car.popitem()
print(car["brand name"], car["model"])

Toyota vios

In [39]:
for k,v  in car.items():
    print(k,v)

brand name Toyota
model vios
year 2010
cc 1000.5
wheel 4

In [48]:
child1 = {"name": "sakda", "id": 1}
child2 = {"name": "poon", "id": 2}
child3 = {"name": "pun", "id": 3}

student = {
    "child1":child1,
    "child2":child2,
    "child3":child3
}

# print(student["child3"]["name"])

pun

In [52]:
# เลขที่ x ชื่อ xxx
for i in student:
    txt = f"เลขที่ {student[i]['id']} ชื่อ {student[i]['name']}"

    print(txt)

เลขที่ 1 ชื่อ sakda
เลขที่ 2 ชื่อ poon
เลขที่ 3 ชื่อ pun